This is slots, you currently have {{badges}} badges notified

<button {{action 'doSomething'}}>send message to notification centre</button>
<button {{action 'increaseBadge'}}>increase the badge count for this area</button>
<button {{action 'emptyBadges'}}>increase the badge count for this area</button>
